@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

.menu-button {
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-135deg);
}

.menu-button.active {
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
}

.menu {
    display: block;
    position: fixed;
    z-index: 2;
    transform: translateY(-100%);
}

.menu ul {
    display: block;
}

.menu.active {
    transform: translateY(0%);
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
